body{
    background-color: rgb(176,176,176);
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}
a {
    color: initial;
}
.vertical-text{
    display: table;
    height: 100%;
    width: 100%;
}
.vertical-text > div{
    display: table-cell;
    vertical-align: middle;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.float-right{
    float: right;
}
.pure-img.img-rounded{
    border-radius: 50%;
}
.container{
    min-height: calc(100vh - 25px);
}
.container > .vertical-text{
    height: calc(100vh - 25px);
}
.container .marge {
    padding-top: 100px;
}
.no-padding{
    padding: 0 !important;
}
.pure-table tbody tr.select > td{
    background-color: rgb(90, 90, 90);
    color: white;
}
/** INFORMATION **/
.information{
    color: white;
    text-shadow: -2px 0 #7b7b7b, 0 2px #7b7b7b, 2px 0 #7b7b7b, 0 -2px #7b7b7b;
    font-size: 15px;
    line-height: 32px;
    position: absolute;
    width: 100%;
}
.information > div{
    padding:5px;
}
.information > .language img{
    margin: 0 5px;
    height: 20px;
}
.copyright{
    position: absolute;
    height:25px;
    right: 6px;
    color: white;
    text-shadow: -2px 0 #7b7b7b, 0 2px #7b7b7b, 2px 0 #7b7b7b, 0 -2px #7b7b7b;
    font-size: 16px;
}
.timeInfo{
    position: absolute;
    height:25px;
    left: 6px;
    color: white;
    text-shadow: -2px 0 #7b7b7b, 0 2px #7b7b7b, 2px 0 #7b7b7b, 0 -2px #7b7b7b;
    font-size: 16px;
}
.copyright a{
    color: white;
}

/** ALERT **/
.alert-success{
    background-color: #66ee47;
    border: #52bf39 1px solid;
    text-align: center;
    font-weight: bolder;
}
.alert-error{
    background-color: #ee3c36;
    border: #c52c28 1px solid;
    text-align: center;
    font-weight: bolder;
}
.alert-float{
    position: absolute;
    left: 25vw;
    width: 50vw;
    top: 25px;
}
.alert-float > div{
    margin: 5px 0;
}

/** PANEL COLOR **/
.panel{
    margin: 1vh 5px;
    font-size: 22px;
}
.panel.login{
    width: 25vw;
    margin: 1vh auto !important;
}
.panel > .border-radius{
    border-radius: 5px;
}

.panel > .image{
    height: 150px;
    background-position: center center;
    background-size: cover;
}
.panel > .image > .title{
    position: relative;
    padding-top: 100px;
    padding-left: 15px;
    width: 94%;
    margin: auto;
    color: white;
    text-shadow: -2px 0 #494949, 0 2px #494949, 2px 0 #494949, 0 -2px #494949;
    font-size: 27px;
}
.panel > .title{
    min-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 27px;
}
.panel > .description{
    min-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}
.panel > .footer{
    min-height: 60px;
}
.panel > div{
    padding: 2vh 2vw;
}
.panel > div:first-child{
    border-top-left-radius: 5px;
}
.panel > div:last-child{
    border-bottom-right-radius: 5px;
}
.panel > .white{
    background-color: rgba(255,255,255,0.8);
    color:black;
}
.panel > .black{
    background-color: rgba(0,0,0,0.6);
    color: white;
}
.panel > .grey{
    background-color: rgb(170, 170, 170);
    color: black;
}
/** Button **/
.button-success, .button-error, .button-warning, .button-secondary {
    color: white;
    border-radius: 2px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}
.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}
.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}
.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}
.button-link{
    color:white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #C15E03;
}
.button-link:hover{
    background-color: #a55b02;
}